/*=================VARIABLE===============*/
@font-face {
  font-family: yumin;
  src: url('../font/yumin.ttf');
}

@font-face {
  font-family: Meiryo;
  src: url('../font/Meiryo.ttf');
}

$fontR: yumin;
$fontMeiryo: Meiryo;

$textYellow: #d49100;
$black: #000;
$textGreen: #017812;
$yellow: #ffdf00;
$mainColor: #62593c;
$bgYellow: #fefbe7;
$brown: #524332;
