@import "variables";

/*================COMMON=================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #fff;
  overflow-x: hidden;
  position: relative;
  font-family: $fontNoto;

  a {
    text-decoration: none;
  }

  ul {
    margin: 0;
    list-style: none;
  }

  p {
    line-height: 1.5;
  }

}

.only-mobile {
  display: none;
}

.text-green{
  color: #74ae65;
}

.no-scroll{
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

.header-mobile {
  display: none;
}


.main-container{
  width: 1680px;
  margin: 0 auto;
}

.sm-container{
  width: 1120px;
  margin: 0 auto;
}

.box-container{
  width: 1366px;
  margin: 0 auto;
}


@media only screen and (max-width: 1024px) {

}


@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {
}

