@import "variables";
header{
  display: flex;
  height: 50px;
  .header-left{
    flex-basis: 450px;
    padding-left: 15px;
    background: #354EA9;
    display: flex;
    align-items: center;
    position: relative;
    border-top: 2px solid #FFDA82;

    &:after{
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 50px solid #354EA9;
      display: block;
      content: "";
      position: absolute;
      right: -50px;
      bottom: 0;
    }

    img{
      margin-right: 10px;
    }

    h1{
      a{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        font-family: $fontR;
        color: #FFFFFF;
      }
    }
  }

  .header-right{
    border-bottom: 2px solid #FFDA82;
    flex-basis: calc(100% - 450px);
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(to right, rgba(245,245,245,0) 0%,rgba(245,245,245,0.99) 40%), url("../images/tra_vinh_12-12_53_09_994_photos_v2_x41.png");
    background-repeat: no-repeat;

    ul{
      display: flex;
      align-items: center;
      li{
        margin-right: 30px;
        cursor: pointer;

        &:last-child{

        }
      }

      a{
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #383838;
      }
    }
  }
}


/*================RESPONSIVE===================*/
@media only screen and (max-width: 1024px) {
  header{
  }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {

}
