/*=================VARIABLE===============*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
$primary_font: PingFangTC;
$secondary_font: PingFangTC;
$pink: #E4138E;
$blue: #3294cc;
$blueNhat: #3294CC;
$green: #ff6b00;
$gray: #BEBEBE;
$black: #333333;
$font:'Nunito Sans', sans-serif;

/*================COMMON=================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: $font;

  a {
    text-decoration: none;
  }

  ul {
    margin: 0;
  }

  p {
    line-height: 1.5;
    color: $black;
  }

}

.container{
  max-width: 1110px;
  margin: 0 auto;
}

.header{
  padding: 15px 0;
  .header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__left{
      display: flex;
      align-items: center;
    }

    .search-form{
      input{
        height: 50px;
        width: 600px;
        border: 1px solid red;
        border-radius: 30px;
        padding: 0 12px;

        &:focus{
          outline: none;
        }
      }
    }

    .brands{
      display: flex;

      .brand-item{
        margin-right: 42px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .icon{
          cursor: pointer;
          width: 52px;
          height: 52px;
          background: #ededed;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .text{
          //font-family: Nunito;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;

        }

        &.translate{
          .icon{
            background: rgba(50, 148, 204, 0.1);
          }
        }

        &:last-child{
          margin: 0;
        }
      }
    }
  }
}

/*================RESPONSIVE===================*/
@media only screen and (max-width: 1024px) {


}

@media only screen and (max-width: 768px) {

}
