/*=================VARIABLE===============*/
@font-face {
  font-family: 'PingFangTC';
  url: url("./font/PingFangTC-Medium.ttf")
}

$primary_font: PingFangTC;
$secondary_font: PingFangTC;
$red1: red;
$blue1: #103e6c;

/*================COMMON=================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: $primary_font;

  a{
    text-decoration: none;
  }

  ul {
    margin: 0;
  }

  p{
    line-height: 1.5;
    color: #2d2d2d;
    font-size: 16px;
  }

}

.big-container{
  max-width: 1686px;
  margin: 0 auto;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.form-control {
  width: 100%;
  &:focus {
    outline: none;
  }
}

.wrapper{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}

/*====================== Header ======================*/

.header {
  padding-top: 37px;
  .logo{
    width: 52px;
    height: 52px;
  }

  a{
    display: flex;
    align-items: center;

    span{
      margin-left: 27px;
      font-family: $primary_font;
      font-size: 27px;
      color: #000000;
      letter-spacing: 1.12px;
      line-height: 30px;
    }
  }
}

.overview{
  margin-top: 78px;
  .overview__content{
    display: flex;
    justify-content: space-between;
    .overview__left{
      width: 725px;

      h1.title{
        font-family: $primary_font;
        font-size: 44px;
        color: #000000;
        letter-spacing: 1.83px;
        line-height: 1;
      }

      h2{
        font-family: PingFangSC-Semibold;
        font-size: 57px;
        color: #000000;
        letter-spacing: 2.38px;
        line-height: 1;
      }

      .shape{
        background: #D4F0EF;
        font-family: PingFangSC-Semibold;
        font-size: 42px;
        color: #009491;
        letter-spacing: 1.75px;
        padding-left: 90px;
        width: 670px;
        height: 93px;
        display: inline-flex;
        align-items: center;
        position: relative;

        &:after{
          position: absolute;
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 93px solid #D4F0EF;
          border-right: 58px solid transparent;
          right: -58px;
        }
      }
    }
    .overview__right{
      width: 718px;
    }
  }
}


/*================RESPONSIVE===================*/
@media only screen and (max-width: 1024px) {
  .header{
    .header__inner{
      position: relative;
      justify-content: center !important;
      .phone-box, .menu-box{
        display: none;
      }

      .menu-icon{
        display: block;
        position: absolute;
        left: 20px;

        i{
          font-size: 24px;
          color: $blue1;
        }
      }
    }
  }

}

@media only screen and (max-width: 768px) {
  .header{
    .header__inner{
      position: relative;
      justify-content: center;
      .phone-box, .menu-box{
        display: none;
      }

      .menu-icon{
        display: block;
        position: absolute;
        left: 20px;

        i{
          font-size: 24px;
          color: $blue1;
        }
      }
    }
  }

  .mobile-menu{
    width: 300px;
  }

  .container{
    padding: 0 30px;
  }

  .project-wrap img{
    width: 100%;
  }

  .tienich-banner img{
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .container{
    padding: 0 10px;
  }

  .header{
    .header__inner{
      position: relative;
      justify-content: center;
      .phone-box, .menu-box{
        display: none;
      }

      .menu-icon{
        display: block;
        position: absolute;
        left: 20px;

        i{
          font-size: 24px;
          color: $blue1;
        }
      }
    }
  }

  .section.overview .product-list{
    display: block;

    .product-item{
      margin-top: 35px;
    }
  }

  .section.project-overview .project-wrap{
    display: block;

    .project-right{
      margin-top: 15px;
      img{
        width: 100%;
      }
    }
  }

  .section.position .position-content .position-content__top{
    display: block;

    .position-content__right{
      margin-top: 15px;
    }

  }

  .section.position .position-content .position-content__bottom{
    display: block;

    .col{
      margin-bottom: 35px;
    }
  }

  .tienich-banner{
    img{
      width: 100%;
    }
  }

  #tienich .new-list{
    display: block;
  }

  .footer .container{
    display: block;
  }

  .footer-right{
    margin-top: 35px;
  }

  h4.banner{
    text-align: center;
  }

  .footer{
    padding: 30px 0;
  }

}
