/*=================VARIABLE===============*/

$green: #62BA92;
$bgColor: #FCF6E8;
$textHeaderColor:#534343;
$black: #000;
$font:  "IPAexGothic";
$fontR: fot-tsukuardgothic-std,sans-serif;
$fontKoto :TA-kotodama_r,sans-serif;
$yellow:#D0BC27;
$textInputColor:#958480;
$yellowWhite:#FFFCF4;
$borderColor:#E2D9D7;
$red:#D02727;

.only-mobile{
  display: none;
}

.wrapper{
  overflow: hidden;
}

.header-mobile{
  display: none;
}

/*================COMMON=================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  margin: auto;
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: $fontR;

  a {
    text-decoration: none;
  }

  ul {
    margin: 0;
  }

  p {
    line-height: 1.5;
    color: $black;
  }

}

.wrapper{
  background: $bgColor;
  &.profile-wrapper{
    width: 320px;
    margin: auto;
  }
}
.badge{
  display: none;

  &.show{
    display: block;
    width: 100vw;
    height: 100vh;
    background: #000000ba;
    z-index: 2;
    transition: all ease .2s;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
  }
}

.no-scroll{
  overflow-y: hidden;
}
// HEADER



.header{
  display: flex;
  align-items: center;
}

.header-mobile{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 38px 16px 16px;
  align-items: center;

  box-shadow: 0 3px 10px -2px #80808052;
  .logo{
    margin-left: 40px;
    font-family: $fontKoto;
  }
  .menu-wrap{
    position: fixed;
    left: -500px;
    top: 0;
    height: 100vh;
    background: #FCF6E8;
    z-index: 5;
    width: 240px;
    max-width: 90%;
    padding-top: 46px;
    transition: all ease .2s;

    &.show{
      left: 0;
    }

    .close-menu{
      margin-left: 24px;
      margin-bottom: 24px;
      color: $green;
    }

    .menu{
      li{
        position: relative;
        height: 64px;
        display: flex;
        align-items: center;
        background: #9584804a;
        padding-left: 24px;
        border-bottom: 1px solid #ffffff54;
        a{
          font-size: 14px;
          color: #534343;
        }

        .icon-f{
          font-size: 12px;
          margin-right: 5px;
          color: #D0BC27;
        }
      }
    }
  }

  #openMenu{
    font-size: 16px;
    color: $green;
  }

  .header-mobile__right{
    i{
      font-size: 16px;
      color: $green;
    }

    #search{
      margin-right: 20px;
    }
  }
}

//content
.content{
  padding: 0 16px;
  .title-content{
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 24px;
    i{
      color: $yellow;
      margin-right: 4px;
      font-size: 12px;
    }
    span{
      font-size: 12px;
      line-height: 24px;
      font-weight: bold;
      color: $textHeaderColor;
    }
  }
  .info-content{
    margin-bottom: 143px;
    .item-content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $yellowWhite;
      padding: 16px 20px;
      border-radius: 8px;
      box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.05);
      margin-bottom: 16px;
      .left{
        i{
          color: $green;
          font-size: 14px;
          margin-right: 8px;
        }
        span{
          color: #534343;
          font-size: 13px;
          font-weight: 400;
          line-height: 24px;
        }
      }
      .right{
        i{
          color: $green;
          font-size: 14px;
        }
      }
    }
  }
}
