/*=================VARIABLE===============*/

$green: #62BA92;
$bgColor: #FCF6E8;
$black: #000;
$font:  "IPAexGothic";
$fontR: fot-tsukuardgothic-std,sans-serif;
$yellow: #D0BC27;
$red: #F25573;

.only-mobile{
  display: none;
}

.wrapper{
  overflow: hidden;
  background: $bgColor;
  max-width: 480px;
  margin: auto;
  position: relative;
}

.header-mobile{
  height: 100%;
  display: none;
}

/*================COMMON=================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding: 0 16px;
  margin: auto;
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: $fontR;

  a {
    text-decoration: none;
  }

  ul {
    margin: 0;
  }

}

.badge{
  display: none;

  &.show{
    display: block;
    width: 100%;
    height: 100vh;
    background: #000000ba;
    z-index: 2;
    transition: all ease .2s;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
  }
}

.no-scroll{
  overflow-y: hidden;
}


// HEADER

.header{
  height: 72px;
  padding: 15px 0px;
  box-shadow: 0 3px 10px rgba(74, 80, 78, 0.06);
}

.header-mobile{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
  height: 100%;
  align-items: center;

  .logo{
    font-size: 14px;
    font-family: "Koku Gothic Light";
  }

  .menu-wrap{
    position: fixed;
    left: -500px;
    top: 0;
    height: 100vh;
    background: #FCF6E8;
    z-index: 5;
    width: 240px;
    max-width: 90%;
    padding-top: 46px;
    transition: all ease .2s;

    &.show{
      left: 0;
    }

    .close-menu{
      margin-left: 24px;
      margin-bottom: 24px;
      color: $green;
    }

    .menu{
      li{
        position: relative;
        height: 64px;
        display: flex;
        align-items: center;
        background: #9584804a;
        padding-left: 24px;
        border-bottom: 1px solid #ffffff54;
        a{
          font-size: 14px;
          color: #534343;
        }

        .icon-r{
          color: $yellow;
          position: absolute;
          right: 24px;
        }

        .icon-f{
          font-size: 12px;
          margin-right: 5px;
          color: #D0BC27;
        }
      }
    }
  }

  #openMenu{
    font-size: 16px;
    color: $green;
  }

  .header-mobile__right{
    i{
      font-size: 16px;
      color: $green;
    }

    #search{
      margin-right: 20px;
    }
  }
}

.double-shape{
  display: flex;
  justify-content: space-between;
  .left, .right{
    flex-basis: calc((100% - 16px) / 2);
  }

  .left{
    background: $green;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19px 0 14px;
    font-size: 13px;
    font-weight: bold;
    font-family: fontR;
    color: #fff;
    svg{
      margin-bottom: 10px;
    }
  }

  .right{
    background: $yellow;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19px 0 14px;
    font-size: 13px;
    font-weight: bold;
    font-family: fontR;
    color: #fff;
    svg{
      margin-bottom: 10px;
    }
  }
}

.content{
  padding-top: 16px;
  padding-bottom: 80px;
}

.shape-detail{
  margin-top: 16px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.04);
  background: #FFFCF4;
  padding: 17px 18px 16px 15px;
  border-radius: 8px;
  margin-bottom: 32px;

  .shape-header{
    display: flex;
    font-size: 12px;
    font-weight: bold;
    font-family: $fontR;
    justify-content: space-between;
    align-items: center;
    color: #534343;

    i{
      color: $yellow;
    }
  }

  .shape_content{
    margin-top: 10px;
    color: #958480;
    font-size: 12px;
    font-family: $fontR;
  }
}

.product-list__wrap{
  .product-header{
    padding-left: 16px;
    font-size: 12px;
    font-weight: bold;
    font-family: $fontR;
    color: #534343;
    margin-bottom: 15px;

    i{
      color: $yellow;
    }
  }
}

.product-list{
  position: relative;
  .product-item{
    height: 113px;
    display: flex;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.04);
    border-bottom: 1px solid #ffffff14;

    &.active{
      .product-image{

        .icon{
          color: #F25573;
        }
      }
    }

    .product-image{
      position: relative;
      width: 112px;
      img{
        width: 100%;
      }

      .icon{
        position: absolute;
        right: 7px;
        bottom: 9px;
        color: #fff;
      }
    }

    .product-detail{
      width: calc(100% - 112px);
      padding: 16px 16px 16px 20px;
      background: #FFFCF4;
      height: 112px;
      .product-text{
        color: #958480;
        font-size: 11px;
        font-family: $fontR;
        line-height: 1;
      }

      h3{
        margin-top: 6px;
        color: #534343;
        font-size: 14px;
        font-weight: bold;
        font-family: $fontR;
        margin-bottom: 1px;
      }

      .product-price{
        font-size: 12px;
        font-family: $fontR;
        color: #958480;
        display: flex;
        justify-content: space-between;

        .primary-price{
          font-weight: bold;
          color: $green;
          margin-right: 12px;
        }
      }
    }
  }

  .see-more_wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 27px;
    .btn-see__more{
      cursor: pointer;
      border: none;
      background: $green;
      width: 160px;
      height: 40px;
      font-size: 13px;
      font-weight: bold;
      font-family: $fontR;
      color: #fff;
      border-radius: 8px;
    }
  }

}

.footer{
  text-align: center;
  padding: 30px 0 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  .footer-brand{
    font-family: $fontR;
    color: #534343;
    font-size: 16px;
    margin-bottom: 26px;
  }

  ul{
    li{
      margin-bottom: 24px;
    }
    a{
      font-size: 12px;
      font-weight: bold;
      font-family: $fontR;
      color: $yellow;
    }
  }

  .footer-end{
    color: #958480;
    font-size: 10px;
    font-family: "Avenir LT Std 35 Light";

  }
}

/*================RESPONSIVE===================*/
@media only screen and (max-width: 1024px) {
  .header .header__inner{
    max-width: 90%;
  }

  .container{
    max-width: 95%;
  }

}

@media only screen and (max-width: 768px) {
  .container{
    max-width: 95%;
  }

  .header .header__inner{
    display: none;
  }

  .header{
    display: flex;
    align-items: center;
  }



}

@media only screen and (max-width: 480px) {
  .container{
    max-width: 100%;
  }

  .box-search {
    max-width: 90%;
  }
}
