/*=================VARIABLE===============*/

$green: #62BA92;
$bgColor: #FCF6E8;
$textHeaderColor:#534343;
$black: #000;
$font:  "IPAexGothic";
$fontR: fot-tsukuardgothic-std,sans-serif;
$fontKoto :TA-kotodama_r,sans-serif;
$yellow:#D0BC27;
$textInputColor:#958480;
$yellowWhite:#FFFCF4;
$borderColor:#E2D9D7;

.only-mobile{
  display: none;
}

.wrapper{
  overflow: hidden;
}

.header-mobile{
  display: none;
}

/*================COMMON=================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  margin: auto;
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: $fontR;

  a {
    text-decoration: none;
  }

  ul {
    margin: 0;
  }

  p {
    line-height: 1.5;
    color: $black;
  }

}

.wrapper{
  background: $bgColor;
  &.login-wrapper{
    width: 320px;
    margin: auto;
  }
}
// HEADER

.header {
  height: 72px;
  padding: 15px 0px;
  box-shadow: 0 3px 10px -2px #80808052;
  .text-header{
    margin-top: 23px;
    text-align: center;
    color: $textHeaderColor;
    font-weight: 400;
    line-height: 19px;
    font-family: $fontKoto;
  }
}
//CONTENT
.content{
  padding: 0 16px;
  .section-login{
    margin-top: 34px;
    text-align: center;
    .title-login{
      color: $green;
      line-height: 42px;
      font-weight: bold;
      font-size: 21px;
      margin-bottom: 16px;
    }
    .form-login{
      margin-bottom: 20px;
      .row-form{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: $yellowWhite;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.05);
        border-radius: 8px;
        padding: 10px 16px;
        margin-top: 12px;
        .left{
          i{
            font-size: 16px;
            color: $yellow;
          }
        }
        .right{
          margin-left: 8px;
          input{
            background-color: transparent;
            border: none;
            color: $textInputColor;
            font-size: 14px;
            line-height: 29px;
            font-weight: 400;
            &::-ms-input-placeholder{
              color: $textInputColor;
              font-size: 14px;
              line-height: 29px;
              font-weight: 400;
            }
            &:focus{
              outline: none;
            }
          }
        }
      }
    }
    .btn-login{
      text-align: center;
      color: $yellowWhite;
      font-weight: bold;
      font-size: 12px;
      line-height: 24px;
      background-color: $green;
      box-shadow: 0 3px 6px rgba(0,0,0,0.04);
      border-radius: 8px;
      padding-top: 20px;
      padding-bottom: 15px;
    }
    .des-login{
      margin-top: 16px;
      line-height: 24px;
      font-size: 12px;
      font-weight: bold;
      color: $yellow;
    }
  }
  .section-login__other{
    margin-top: 40px;
    text-align: center;
    .title-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      .left{
        width: 114px;
        height: 1px;
        background-color: $borderColor;

      }
      span{
        color: $textHeaderColor;
        line-height: 24px;
        font-size: 12px;
        font-weight: 400;
      }
      .right{
        width: 114px;
        height: 1px;
        background-color: $borderColor;

      }
    }
    .btn-login__other{
      box-shadow: 0 3px 6px rgba(0,0,0,0.04);
      border-radius: 26px;
      text-align: center;
      padding: 16px 0 16px 70px;
      margin-bottom: 12px;
      display: flex;
      align-items: center;

      i{
        font-size: 20px;
        color: #fff;
      }
      span{
        color: $yellowWhite;
        font-size: 12px;
        line-height: 24px;
        font-weight: bold;
        margin-left: 16px;
      }
    }
    .login-fb{
      background-color: #1877F2;
    }
    .login-twitter{
      background-color: #1DA1F2;
    }
    .login-line{
      background-color: #1BB91F;
    }
    .login-yahoo{
      background-color: #FD0D26;
    }
  }
  .section-login__first{
    margin-top: 36px;
    text-align: center;
    .title-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      .left{
        width: 84px;
        height: 1px;
        background-color: $borderColor;
      }
      span{
        color: $textHeaderColor;
        line-height: 24px;
        font-size: 12px;
        font-weight: 400;
      }
      .right{
        width: 84px;
        height: 1px;
        background-color: $borderColor;

      }
    }
    .btn-login{
      text-align: center;
      color: $yellowWhite;
      font-weight: bold;
      font-size: 12px;
      line-height: 24px;
      background-color: $green;
      box-shadow: 0 3px 6px rgba(0,0,0,0.04);
      border-radius: 8px;
      padding-top: 20px;
      padding-bottom: 15px;
    }
    margin-bottom: 62px;
  }
}
