/*=================VARIABLE===============*/

$green: #62BA92;
$bgColor: #FCF6E8;
$black: #000;
$font:  "IPAexGothic";
$fontR: fot-tsukuardgothic-std,sans-serif;
$yellow: #D0BC27;
$red: #F25573;

.only-mobile{
  display: none;
}

.wrapper{
  overflow: hidden;
  background: $bgColor;
}

.header-mobile{
  display: none;
  height: 100%;
}

/*================COMMON=================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 836px;
  margin: auto;
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: $fontR;

  a {
    text-decoration: none;
  }

  ul {
    margin: 0;
  }

  p {
    line-height: 1.5;
    color: $black;
  }

}

.badge{
  display: none;

  &.show{
    display: block;
    width: 100vw;
    height: 100vh;
    background: #000000ba;
    z-index: 2;
    transition: all ease .2s;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
  }
}

.no-scroll{
  overflow-y: hidden;
}


// HEADER

.header{
  height: 72px;
  padding: 15px 0px;
  box-shadow: 0 3px 10px -2px #80808052;
  .header__inner{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .header__left{
      display: flex;

      .header-left__text{
        font-size: 12px;
        font-family: $font;
        margin-left: 43px;
      }
    }

    .header__right{
      display: flex;
      align-items: flex-end;
      .menu{
        display: flex;
        list-style-type: none;

        .menu-item{
          margin-right: 32px;
          &:last-child{
            margin-right: 0;
          }
          a{
            font-size: 12px;
            font-family: $font;
            color: #000;
          }
        }
      }
    }
  }
}

.content{
  padding: 32px 0 104px;
  .section-product{
    .product-title{
      font-size: 12px;
      font-weight: bold;
      color: $black;
    }

    .product-wrapper{
      display: flex;
      margin: 16px auto 0;
      max-width: 754px;

      .product-images{
        width: 320px;
        img{
          width: 100%;
        }
      }

      .product-detail{
        margin-left: 146px;
        padding-top: 25px;
        .product-text{
          color: #958480;
          font-size: 12px;
          font-family: $fontR;
        }

        h3{
          margin-top: 11px;
          color: #534343;
          font-size: 16px;
          font-weight: bold;
          font-family: $fontR;
          margin-bottom: 8px;
        }

        .product-price{
          font-size: 14px;
          font-family: $fontR;
          color: #958480;

          .primary-price{
            font-weight: bold;
            color: $green;
            margin-right: 12px;
          }
        }
      }

      .product-rate{
        display: flex;
        margin-top: 12px;
        align-items: center;
        .rate{
          margin-right: 40px;

          span.fa{
            color: #D0BC27
          }
        }

        .rate-num{
          font-size: 16px;
          font-weight: bold;
          color: #D0BC27;
        }
        .rate-text{
          font-size: 12px;
          text-decoration: underline;
          color: #D0BC27;
        }
      }

      .btn-like{
        width: 288px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background: $red;
        border: none;
        margin-top: 35px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        font-family: $fontR;
        cursor: pointer;
        i{
          margin-right: 4px;
        }
      }
    }

    .product-tags{
      margin-top: 32px;

      .tag-item{
        color: #fff;
        background: #CFBB39;
        font-size: 13px;
        font-weight: bold;
        padding: 4px 8px;
        border-radius: 4px;
        margin-right: 12px;
      }
    }
    .product-desc{
      margin-top: 32px;
      font-size: 13px;
      color: #534343;
      font-family: $fontR;
    }

  }

  .section-rating{
    width: 452px;
    max-width: 95%;
    margin-top: 32px;
    .rating-header{
      display: flex;
      font-family: $fontR;
      font-size: 12px;
      font-weight: bold;
      color: #534343;

      .rating-header__left{
        i{
          color: $yellow;
        }
      }

      .rating-header__right{
        margin-left: 88px;
        color: $yellow;
      }
    }

    .rate-list{
      margin-top: 20px;
    }

    .rate-item{
      padding: 20px 16px;
      background: #FFFCF4;
      margin-bottom: 16px;
      border-radius: 6px;

      .rate-item__header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .meta-rate{
          font-size: 13px;
          font-weight: bold;
          color: $yellow;
          font-family: $fontR;
        }

        .meta-user{
          font-family: $fontR;
          font-size: 12px;
          color: #958480;
        }
      }

      .rate-item__content{
        max-width: 256px;
        margin-top: 16px;
        font-size: 13px;
        color: #534343;
        margin-bottom: 4px;
      }

      .rate-item__meta{
        text-align: right;
        font-size: 12px;
        color: #CEBCB8;
        font-family: $fontR;
      }
    }
  }

}

/*================RESPONSIVE===================*/
@media only screen and (max-width: 1024px) {
  .header .header__inner{
    max-width: 90%;
  }

}

@media only screen and (max-width: 768px) {
  .container{
    max-width: 95%;
  }

  .content .section-product .product-comments .rating-box .rating span {
    font-size: 30px;
    color: #D0BC27;
  }

  .header .header__inner{
    display: none;
  }

  .header{
    display: flex;
    align-items: center;
  }

  .header-mobile{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
    align-items: center;

    .menu-wrap{
      position: fixed;
      left: -500px;
      top: 0;
      height: 100vh;
      background: #FCF6E8;
      z-index: 5;
      width: 240px;
      max-width: 90%;
      padding-top: 46px;
      transition: all ease .2s;

      &.show{
        left: 0;
      }

      .close-menu{
        margin-left: 24px;
        margin-bottom: 24px;
        color: $green;
      }

      .menu{
        li{
          position: relative;
          height: 64px;
          display: flex;
          align-items: center;
          background: #9584804a;
          padding-left: 24px;
          border-bottom: 1px solid #ffffff54;
          a{
            font-size: 14px;
            color: #534343;
          }

          .icon-r{
            color: $yellow;
            position: absolute;
            right: 24px;
          }

          .icon-f{
            font-size: 12px;
            margin-right: 5px;
            color: #D0BC27;
          }
        }
      }
    }

    #openMenu{
      font-size: 16px;
      color: $green;
    }

    .header-mobile__right{
      i{
        font-size: 16px;
        color: $green;
      }

      #search{
        margin-right: 20px;
      }
    }
  }

  .content .section-product .product-wrapper {
    display: flex;
    margin: 16px auto 0;
    max-width: 95%;

    .product-detail {
      margin-left: 95px;
      padding-top: 25px;
    }
  }

  .content .section-product .product-wrapper .product-images {
    width: 310px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    max-width: 100%;
  }

  .content .section-product .product-wrapper {
    display: block;
    margin: 0px auto 0;
    width: 100%;
    max-width: 100%;

    .product-images{
      width: 100%;
      img{
        width: 100%;
        //height: 90px;
      }
    }

  }

  .content .section-product .product-tags .tag-item{
    margin-bottom: 12px;
    display: inline-block;
  }

  .content .section-product .product-comments{
    display: block;
    .rating-box{
      margin-bottom: 20px;
    }
  }

  .content {
    padding: 0 0 104px;
  }


  .content .section-product .product-wrapper .product-detail {
    width: 100%;
    margin-top: 56px;
    margin-left: 0;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    background: unset;

    .product-rate {
      display: flex;
      justify-content: space-between;
    }
  }

  .content .section-product .product-wrapper .btn-like {
    width: 100%;
    height: 56px;
    margin-top: 12px;
  }

  .product-tags{
    padding-left: 16px;
    padding-right: 16px;
  }

  .content .section-product .product-desc {
    padding-left: 16px;
    padding-right: 16px;
  }

  .content .section-rating{
    width: 100%;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .content .section-rating .rating-header{
    justify-content: space-between;
  }

  .btn-cart.only-mobile{
    display: flex;
    height: 56px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: $green;
    color: #FFFCF4;
    border-radius: 4px;
    margin-top: 34px;
    font-size: 14px;
    font-family: $fontR;
    font-weight: bold;
    i{
      margin-right: 4px;
    }
  }

  .btn-like-trans.only-mobile{
    display: flex;
    height: 56px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #FFFCF4;
    color: #CEBCB8;
    border-radius: 4px;
    margin-top: 12px;
    font-size: 14px;
    font-family: $fontR;
    font-weight: bold;
    i{
      margin-right: 4px;
    }
  }
}
