/*=================VARIABLE===============*/

$green: #62BA92;
$bgColor: #FCF6E8;
$black: #000;
$font:  "IPAexGothic";
$fontR: fot-tsukuardgothic-std,sans-serif;
$yellow: #D0BC27;
$red: #F25573;

.only-mobile{
  display: none;
}

.wrapper{
  overflow: hidden;
  background: $bgColor;
}

.header-mobile{
  display: none;
  height: 100%;
}

/*================COMMON=================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 920px;
  margin: auto;
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: $fontR;

  a {
    text-decoration: none;
  }

  ul {
    margin: 0;
  }

}

.badge{
  display: none;

  &.show{
    display: block;
    width: 100vw;
    height: 100vh;
    background: #000000ba;
    z-index: 2;
    transition: all ease .2s;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
  }
}

.no-scroll{
  overflow-y: hidden;
}


// HEADER

.header{
  height: 72px;
  padding: 15px 0px;
  box-shadow: 0 3px 10px -2px #80808052;
  .header__inner{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .header__left{
      display: flex;

      .header-left__text{
        font-size: 12px;
        font-family: $font;
        margin-left: 43px;
      }
    }

    .header__right{
      display: flex;
      align-items: flex-end;
      .menu{
        display: flex;
        list-style-type: none;

        .menu-item{
          margin-right: 32px;
          &:last-child{
            margin-right: 0;
          }
          a{
            font-size: 12px;
            font-family: $font;
            color: #000;
          }


        }
      }
    }
  }
}

.content{
  padding: 32px 0 342px;

}

.search-wrap{
  margin-bottom: 32px;
  .search-header{
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: bold;
    font-family: $fontR;
    color: #534343;

    i{
      color: $yellow;
    }
  }
}

.search-grid{
  display: flex;
  flex-wrap: wrap;
  .search-grid__item{
    flex-basis: calc((100% - 56px) / 3);
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 16px;
    background: #FFFCF4;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);
    font-size: 12px;
    font-family: $fontR;
    color: #534343;
    margin-right: 28px;
    justify-content: space-between;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &.active{
      color: $yellow;
      font-weight: bold;

      i{
        color: $yellow;
      }
    }

    i{
      color: #E2D9D7;
      font-size: 20px;
    }
  }
}

.search-fixed__wrap {
  text-align: center;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 72px;
  width: 100%;
}

.search-fixed{
  width: 920px;
  max-width: 100%;
  display: flex;
  height: 52px;
  font-family: $fontR;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  align-items: center;

  .left{
    width: calc(100% - 160px);
    display: flex;
    padding-left: 62px;
    align-items: center;
    background: #958480b8;
    height: 100%;

  }

  .right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 160px;
    background: $yellow;
  }
}

/*================RESPONSIVE===================*/
@media only screen and (max-width: 1024px) {
  .header .header__inner{
    max-width: 90%;
  }

  .container{
    max-width: 95%;
  }

}

@media only screen and (max-width: 768px) {
  .container{
    max-width: 95%;
  }

  .header .header__inner{
    display: none;
  }

  .header{
    display: flex;
    align-items: center;
  }

  .header-mobile{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
    align-items: center;

    .menu-wrap{
      position: fixed;
      left: -500px;
      top: 0;
      height: 100vh;
      background: #FCF6E8;
      z-index: 5;
      width: 240px;
      max-width: 90%;
      padding-top: 46px;
      transition: all ease .2s;

      &.show{
        left: 0;
      }

      .close-menu{
        margin-left: 24px;
        margin-bottom: 24px;
        color: $green;
      }

      .menu{
        li{
          position: relative;
          height: 64px;
          display: flex;
          align-items: center;
          background: #9584804a;
          padding-left: 24px;
          border-bottom: 1px solid #ffffff54;
          a{
            font-size: 14px;
            color: #534343;
          }

          .icon-r{
            color: $yellow;
            position: absolute;
            right: 24px;
          }

          .icon-f{
            font-size: 12px;
            margin-right: 5px;
            color: #D0BC27;
          }
        }
      }
    }

    #openMenu{
      font-size: 16px;
      color: $green;
    }

    .header-mobile__right{
      i{
        font-size: 16px;
        color: $green;
      }

      #search{
        margin-right: 20px;
      }
    }
  }


}

@media only screen and (max-width: 480px) {
  .container{
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .search-grid{
    display: block;

    .search-grid__item{
      margin-right: 0;
    }
  }

  .search-fixed{


    .left{
      width: 50%;
      display: flex;
      padding-left: 62px;
      align-items: center;
      background: #958480b8;
      height: 100%;

    }

    .right{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
      background: $yellow;
    }
  }

}
