@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-font: 'Nunito Sans', sans-se rif;
  --blue-1: #3294CC;
  --black: #333333;
  --black-1: #666666;
  --pink-1: #fd243f;
  --gray-1: #E3E3E3;
  --gray-2: #BEBEBE;
  --green-1: #3A9E50;
  --gray-text-phu: #666666;
}
;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$pink: #FD243F;
$blue: #3294cc;
$blueNhat: rgba(50, 148, 204, 0.1);
$green: #3A9E50;
$gray: #BEBEBE;
$black: #333333;
$font: 'Nunito', sans-serif;

.text-pink {
  color: $pink;
}

.text-blue {
  color: $blue;
}

html{
  overflow-x: hidden;

  body{
    overflow-x: hidden;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  outline: none;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  box-sizing: border-box;
}

footer {
  margin-top: 20px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.heading {
  display: flex;
  font-family: $font;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: $black;

  .icon {
    margin-right: 12px;
  }
}

img {
  max-width: 100%;
}


.only-mobile {
  display: none;
}


header {
  .header-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
  }

  .header-search .logo {
    margin-right: 30px;
  }

  .header-search .logo-mobile {
    display: none;
  }

  .header-search .input-search {
    width: 621px;
    box-sizing: border-box;
    border-radius: 30px;
    position: relative;
  }

  .header-search .input-search svg {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .header-search .input-search input {
    border: 1px solid var(--gray-1);
    padding: 23px 15px;
    border-radius: 30px;
  }

  .header-search .input-search input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: var(--gray-text-phu);
  }

  .header-search .action-search {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .header-search .action-search .item-action {
    max-width: 80px;
    text-align: center;
    cursor: pointer;
    transition: all ease .3s;

    &:hover {
      .wrap-right {
        background: $blueNhat;

      }

      span {
        color: $blue;
      }
    }
  }

  .header-search .action-search .wrap-right {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
    background-color: rgba(237, 237, 237, 0.4);
  }

  .header-search .action-search span {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
  }

  .header-search .action-search .active-text {
    color: var(--blue-1);
  }

  .header-search .action-search .wrap-right.active {
    background: rgba(50, 148, 204, 0.1);
  }

  .icon-mobile {
    display: none;
  }


  /*menu*/
  .header-menu {
    background-color: var(--blue-1);
    padding: 13px 0;
  }

  .header-menu .menu-list {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
  }

  .header-menu .menu-list .item-list {
    list-style: none;
    margin-right: 25px;
    display: flex;

  }

  .header-menu .menu-list .item-list i {
    color: #fff;
    margin-left: 5px;
  }

  .header-menu .menu-list .item-list a {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }
}

.box-icon {
  margin-top: 30px;
  padding: 10px;
  background: rgba(50, 148, 204, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .item {
    flex-basis: 33.33%;
    text-align: center;

    .text {
      font-family: $font;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: 0em;
      color: $black;
      margin-top: 10px;
    }

    &:first-child {
      .text {
        color: $blue;
      }
    }
  }
}

.box-tag__wrap{
  .see-more{
    display: none;
  }}

.box-tags{
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  .col{
    flex-basis: 25%;
    .tag-item{
      display: flex;
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }

      .text{
        color: $blue;
        font-family: $font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        margin-left: 6px;
      }
    }
  }
}

/*box-vote*/
.top10-singers-list {
  margin-top: 10px;

  .border {
    width: 9px;
    height: 20px;
    background: $pink;
    border-radius: 3px;
  }

  .singer-heading {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-family: $font;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: $black;

    span {
      margin-right: 4px;
    }
  }

  .singer-list {
    display: flex;


    .left, .right {
      flex-basis: 50%;
    }

    .left {
      margin-right: 30px;
    }

    .item {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin-bottom: 10px;
      padding: 10px;
      display: flex;
      justify-content: space-between;

      .social {
        .icon {
          &:first-child {
            margin-bottom: 10px;
          }
        }
      }

      .social {
        img {
          display: block;
        }
      }

      .singer_info {
        display: flex;

        .info {
          margin-left: 10px;

          .name {
            font-family: $font;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            color: $black;
          }

          .tag {
            margin-top: 10px;
            cursor: pointer;
            transition: all ease .2s;
            padding: 2px 4px;
            border: 1px solid $pink;
            border-radius: 4px;
            font-family: $font;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 19px;
            color: $pink;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
              margin-right: 4px;
              display: inline-flex;
              align-items: center;
              background: transparent;

              img {
                position: relative;
                z-index: 200;
                height: 100%;
              }
            }

            &:hover {
              background: #FFF1F9;
              // color: #fff;
            }
          }
        }
      }

      .avatar {
        width: 58px;
        height: 58px;
        background-image: url(../image/circle_gray.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .number {
          position: absolute;
          bottom: -7px;
          background: #BEBEBE;
          border-radius: 100%;
          width: 20px;
          height: 20px;
          color: #fff;
          font-size: 13px;
          font-weight: 900;
          text-align: center;
        }
      }

      &.top1 {
        .avatar {
          background-image: url(../image/circle_pink.png);

          .number {
            background: $pink;
          }
        }
      }

      &.top2 {
        .avatar {
          background-image: url(../image/circle_blue.png);

          .number {
            background: $blue;
          }
        }
      }

      &.top3 {
        .avatar {
          background-image: url(../image/circle_green.png);

          .number {
            background: $green;
          }
        }
      }
    }

    .item.active {

      .icon {
        color: #fff !important;
      }

      .tag {
        background: $pink;
        color: #fff !important;

        &:hover {
          background: $pink !important;
        }
      }
    }
  }
}

/*box-trending*/
.trending-wrapper {
  margin-top: 30px;

  .trending-header {
    .text {
      display: flex;
      color: #bebebe;
      transition: all ease .2s;
    }

    .tab {
      cursor: pointer;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 8px;
      }

      &.right {
        margin-left: 40px;
      }
    }

    .tab.active {
      .text {
        color: #333;
      }
    }

    .tab.hover {
      .text {
        color: #333;
      }
    }

    .birthday {
      display: flex;
      align-items: center;
      margin-left: 44px;
      font-size: 24px;
      font-weight: 700;
      color: #bebebe;

      .cake {
        margin-right: 14px;
      }
    }
  }

  .famous-trending {
    display: flex;
    margin-top: 20px;

    .top-trending {
      flex-basis: 350px;
      height: 270px;
      position: relative;
      border-radius: 10px;
      margin-right: 30px;

      .avatar {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

      .name {
        left: 25px;
        position: absolute;
        color: #fff;
        font-family: $font;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
        bottom: 20px;
      }

      .number {
        left: 25px;
        position: absolute;
        width: 53px;
        height: 53px;
        border-radius: 50%;
        background: $pink;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0em;
        bottom: 73px;
      }
    }

    .famous-list {
      flex-basis: calc(100% - 380px);
      display: flex;
      flex-wrap: wrap;

      .item {
        height: 120px;
        flex-basis: 160px;
        margin-right: 30px;
        position: relative;
        margin-bottom: 30px;
        //padding-left: 15px;
        border-radius: 10px;

        .avatar {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }

        &:nth-child(4n) {
          margin-right: 0;
        }

        .name {
          left: 15px;
          position: absolute;
          bottom: 15px;
          color: #fff;
          font-family: $font;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 19px;
          letter-spacing: 0em;
          left: 15px;
        }

        .number {
          left: 15px;
          position: absolute;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background: #bebebe;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-family: $font;
          font-size: 16px;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          left: 15px;
          bottom: 44px;
        }

        &.top2 {
          .number {
            background: $blue;
          }
        }

        &.top3 {
          .number {
            background: $green;
          }
        }

        &.see-more {
          background-image: none;
          background-color: $blueNhat;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: $font;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
          color: $blue;
          cursor: pointer;
        }
      }
    }
  }
}


/*footer*/
footer {
  text-align: center;

}

footer .logo-footer {
  margin-bottom: 15px;
}

footer ul {
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

footer ul li {
  list-style: none;
  padding-left: 24px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  position: relative;
}

footer ul li:before {
  content: '.';
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
}

footer ul li:first-child:before {
  display: none;
}

footer ul li a {
  color: var(--black);
}

footer ul li a.signature {
  color: var(--blue-1);
}


@media only screen and (max-width: 1024px) {
  .container {
    max-width: 95%;
  }

  .trending-wrapper .famous-trending .famous-list .item {
    flex-basis: calc((100% - 45px) / 4);
    margin-right: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 95%;
  }

  .trending-wrapper .famous-trending .famous-list .item {
    flex-basis: calc((100% - 45px) / 4);
    margin-right: 10px;
  }

  .header-search .input-search {
    display: none;
  }

  header .header-search .action-search {
    display: none;
  }

  header .header-search .logo {
    margin-right: 0;
  }

  header .icon-mobile {
    cursor: pointer;
    position: absolute;
    display: block;
    right: 20px;
    top: 20px;
    color: #BEBEBE;
  }

  .only-mobile {
    display: block !important;

    .action-search {
      display: flex;
      margin-bottom: 25px;
      justify-content: center;

      .item-action {
        max-width: 80px;
        text-align: center;
        cursor: pointer;
        transition: all ease .3s;
        margin-right: 77px;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          .wrap-right {
            background: $blueNhat;

          }

          span {
            color: $blue;
          }
        }
      }

      .wrap-right {
        width: 52px;
        height: 52px;
        border-radius: 100%;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 10px;
        align-items: center;
        background-color: rgba(237, 237, 237, 0.4);
      }

      span {
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: var(--black);
      }
    }

    .input-search {
      width: 100%;
      box-sizing: border-box;
      border-radius: 30px;
      position: relative;
    }

    .input-search svg {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }

    .input-search input {
      border: 1px solid var(--gray-1);
      padding: 23px 15px;
      border-radius: 30px;
    }

    .input-search input::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: var(--gray-text-phu);
    }
  }

  .header-menu {
    display: none;
  }

  header .header-menu .menu-list {
    display: block;

    li {
      margin-bottom: 8px;
    }
  }

  .trending-wrapper .famous-trending .famous-list {
    .item {
      flex-basis: 158px;
    }

    .item:nth-child(2) {
      margin-right: 0 !important;
    }
  }

  .trending-wrapper .famous-trending .famous-list .item {
    &:nth-child(4) {
      display: none;
      margin-right: 30px;
    }

    &:nth-child(5) {
      display: none;
    }

    &:nth-child(6) {
      display: none;
    }

    &:nth-child(7) {
      display: none;
    }

    &:nth-child(8) {
      //display: none;
    }
  }

  footer .menu-footer-1 {
    flex-wrap: wrap;
    max-width: 250px;
    margin: 0 auto;
  }
  footer .menu-footer-1 li {
    margin: 5px 0;
  }
  footer .menu-footer-2 {
    margin-top: 11px;
  }
  footer .menu-footer-1 li:nth-child(3) {
    padding-left: 0;
  }
  footer .menu-footer-1 li:nth-child(3)::after {
    display: none;
  }
  footer ul li:first-child {
    padding-left: 0;
  }

}

@media only screen and (max-width: 480px) {
  .only-mobile .action-search .item-action {
    margin-right: 50px;
  }

  .box-zodiac .item {
    flex-basis: calc((100% - 20px) / 2);
    margin-right: 20px;

    &:nth-child(2n) {
      margin-right: 0 !important;
    }
  }

  .top10-singers-list .singer-heading {
    align-items: flex-start;
  }

  .top10-singers-list .singer-heading span {
    margin-right: 5px;
    margin-top: 7px;
  }

  .top10-singers-list .singer-list {
    display: block;

    .left{
      margin-right: 0;
    }
  }

  .trending-wrapper{
    .text{
      font-size: 22px;
    }

    .trending-header .birthday{
      margin-left: 18px;
      font-size: 18px;

      .cake{
        margin-right: 5px;
      }
    }

    .heading.trending-header{
      width: 500px;
      .icon{
        margin-right: 4px;

        img{
          width: 15px;
          height: 20px;
        }
      }

    }

    .famous-trending{
      display: block;

      .top-trending{
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    .famous-list{
      .item{
        display: block !important;
        flex-basis: calc((100% - 16px) / 2) !important;
        margin-right: 16px !important;

        &:nth-child(2n) {
          margin-right: 0 !important;
        }

        &:nth-child(7) {
          display: none !important;
        }
        &.see-more {
          height: 42px !important;
          display: flex !important;
          flex-basis: 100% !important;
          margin-right: 0;
        }
      }
    }
  }

  .famous-list{
    display: block;

    .item{
      margin-bottom: 15px !important;
    }

    .famous{
      margin-right: 0 !important;
      .avatar{
        height: 220px;
        img{
          height: 100%;
        }
      }
    }
  }

  .box-tags{
    display: block;
    padding-left: 5px;
    padding-right: 5px;

    .col{
      display: none;

      &:first-child{
        display: block;
      }
    }
  }

  .box-tag__wrap{
    .see-more{
      margin-bottom: 15px;
      display: flex;
      width: 100%;
      height: 52px;
      justify-content: center;
      align-items: center;
      color: $blue;
      border-radius: 5px;
      font-family: $font;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      background: $blueNhat;

    }
  }
}





